#about-top{
  height: 40%;
}
.about-half{

  width: 100%;
  position: relative;
}

#about-bio-pic{
  aspect-ratio: 1.4/1;
  width: 100%;
  object-fit: contain;
  z-index: 2;
}
#vector-bg{
height: 100%;
width: 100%;
position: absolute;
bottom: 0;
right: 0;
z-index: 1;
}
.about-overlay{
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 2.5%;
  left: 0;
  padding: 0 1.5%;
  z-index: 3;
}
.about-overlay > p{
    font-weight: 500;
  font-size: .8em;
  text-decoration: none !important;
  width: 45%;
  background-color: #303030;
  border: solid #222222 1px;
  border-radius: .5em;
  padding: .5% .5%;
  text-align: center;
  opacity: 90%;
  
}

.about-overlay > ul{
  border-radius: .5em;
  padding: 1% 1.5% 1% 1%;
  background-color: #303030;
  opacity: 90%;
  border: solid #222222 1px;
}
.about-overlay > ul > li{
  font-size: .8em;
  font-weight: 500;
}

#about-bottom{
  height: 50%;
line-height: 1.2;
padding: 1% 1.5%;
display: flex;
flex-direction: column;
}
#about-bottom > h1{
  font-size: 2.1em;
}
#about-bottom > h2{
  font-size: 1.8em;
}
#about-bottom > p{
  margin-top: 2%;
}
#about-bottom > label{
  font-size: 1.5em;
  margin-top: 4%;
}

#about-bottom > ul{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}
#about-bottom > ul > li{
  width: 12.5%;
}
#about-bottom > ul > li > img{
  aspect-ratio: 1/1;
  object-fit: contain;
}

.about-social-container{
  height:13.5%;
  width: 100%;
  margin-top: 6%;
}

#about-linkedin{
  height: 100%;
  width: 50%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
#about-github{
  height: 100%;
  width: 50%;
  border: transparent;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.social-container {
  height: 7dvh;
  width: 92.5%;
  display: flex;
  padding: 1.5% 0;
  justify-content: space-around;
}

.social-container>button {
  height: 100%;
  aspect-ratio: 1/1;
}

.bluesky-active {
  border: solid gray 2px;
  padding: 10%;
  border-radius: 1.5em;
}