
  /* Mobile Portrait: 320 - 480 pixels */
  @media only screen and (max-width: 480px) {
    .mobile-button-container{
      max-width: 40dvw;
    }
    .mobile-button-container > button{
      max-width: 35%;
    }
    .mobile-button-container>button>img {
      height: 95%;
      width: 90%;
    }
  } 
  /* Mobile Landscape: 481 - 600 pixels */
@media only screen and (min-width: 481px) and (max-width: 700px) {
  /* HEADER */
  .icon-mobile{
    aspect-ratio: 2/1;
    margin-left: 1.25%;
  }
  .mobile-button-container{
    max-width: 30dvw;
  }
  .mobile-button-container > button{
    max-width: 37.5%;
  }
  .mobile-button-container>button>img {
    height: fit-content;
    aspect-ratio: 1/1;
    width: 70%;
    object-fit: cover;
  }
  .react-switch-label {
    max-width: 50%;
    width: 50%;
    height: 65%;
  }
  /* ABOUT */
  #about>img {
    width: 80%;
    border-radius: 15em;
  }
  #about > p{
    text-align: center;
    font-weight: bolder;
  }
  /* PROJECTS */
  .project-card-default > div {
    height: auto;
    width: 11.5%;
    bottom: 6%;
    right: 3%;
  }
  .project-card-default > h1 {
    font-size: 1.25em;
  }
  .project-card-default > p{
    font-weight: 200;
    font-size: .9em;
  }
  .project-modal-body > div {
    height: 100%;
    width: 100%;
  }
  .project-modal-body > div > img{
    height: auto;
    width: 100%;
    min-width: 100%;
    margin-bottom: 2%;
  }
 }
  /* Tablet Portrait: 320 - 480 pixels */
 /* @media only screen and (min-width: 601px) and (max-width: 768px) {

 } */

  /* Small Tablet: 601 - 768px */
  /* @media only screen and (min-width: 481px) and (max-width: 768px) {
    Header > Button Container
    .mobile-button-container {
      width: 35dvw;
    }
    Header > React Switch
    .react-switch-label{
      height: 100%;
      width: 14dvw;
    }
  } */