/* Skill Section */
#skills{
  padding: 2% 2.5% 2% 2.5%;
}
.skill-main{
  height: 87.5dvh;
  width: 100%;
  border-radius: 1em;
}

.skill-button-bar{
  height: 8%;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: solid white 1px;
}
.skill-button-bar > button{
  height: 100%;
  width: 33.33%;
}
#fe-btn{
  border-top-left-radius: 1em;
}
#other-btn{
  border-top-right-radius: 1em;
}
.skill-button-bar > button:not(#other-btn){
  padding-left: 1px;
  border-right: solid white 1px;
}

.skill-button-active{
  background-color: #7768ce;
}

.skill-progress-container{
  padding: 2.5% 0;
  height: 8.5%;
}